.hero-video-container {
    margin-top: 5px;
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.desktop-video {
    display: block;
}

.mobile-video {
    display: none;
}

.hero-video-content {
    padding: 2rem;
    text-align: left;
    max-width: 500px;
    z-index: 1;
}

.hero-video-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.hero-video-content p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.hero-video-buttons {
    display: flex;
    gap: 1rem;
}

.hero-video-buttons .btn {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-women {
    background-color: #ffffff;
    color: #000000;
}

.btn-women:hover {
    background-color: #f0f0f0;
}

.btn-men {
    background-color: #808080;
    color: #ffffff;
}

.btn-men:hover {
    background-color: #696969;
}

@media (max-width: 768px) {
    .desktop-video {
        display: none;
    }

    .mobile-video {
        display: block;
    }

    .hero-video-container {
        flex-direction: column-reverse;
    }

    .hero-video-content {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .hero-video-content h1 {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
        text-transform: uppercase;
    }

    .hero-video-buttons {
        flex-direction: column;
        gap: 1rem;
    }

    .hero-video-buttons .btn {
        width: calc(100% - 30px);
        height: 40px;
        margin: 0 15px 0px 15px;
    }
}
