.product-card {
    display: block;
    border: 1px solid #dddddd;
    border-radius: 8px;
    text-decoration: none;
    text-align: left;
    text-decoration: none;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
}

.product-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 255, 0.2);
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:8px;
}

.product-info {
    text-decoration: none;
    padding: 1rem;
}

.product-name {
    color: #0000ff;
    text-decoration: none;
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.product-price {
    font-size: 1.1rem;
    color: #333333;
    text-decoration: none;
    margin: 0;
}

@media (max-width: 480px) {
    .product-card {
        border: none;
        box-shadow: none;
        transform: none;
    }

    .product-image {
        height: 90%;
    }

    .product-name {
        font-size: 0.9rem;
    }

    .product-price {
        font-size: 1rem;
    }
}